html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#mapid {
    height: 100%;
    width: 100vw;
}
#distance-info {
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 1000;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}